<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cetpainfotech.onlinelearning" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Activity.ProfileActivity" >
        </activity>
        <activity android:name=".Activity.SplashActivity" />
        <activity android:name=".Activity.ContactActivity" />
        <activity android:name=".Activity.FeedbackActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity
            android:name=".WelcomeScreen.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".Authentication.RegisterActivity" />
        <activity
            android:name=".Chat.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HomeActivity"
            android:label="Just Learning"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>